* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
    overflow: hidden;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#tooltip {
    background-color: #ffffff50;
    color:black;
    padding: 10px;

}

.dot:hover {
    fill: aliceblue !important;
}